{% extends "layout.jinja2" %}
{% block content %}
<section class="container">
  <picture class="profile">
    <img src="static/dist/images/profile.png">
  </picture>
  <h1 class="lighted">Sobre mi</h1>
  <p class="is-center">Hola ! Soy Jasson, programador de software Geek amante de la pizza y los videojuegos.<br>
    Todo lo que sé sobre programación lo he aprendido por mi cuenta (Youtube, Libros, Etc).</p>
</section>
<section class="container">
  <h2 class="lighted">Blog</h2>
  <div class="swiper-container work__list blog__list">
    <div class="swiper-wrapper">
      <article class="swiper-slide work__item">
        <a href="{{ url_for('blog1') }}">
          <picture class="profile">
            <img src="static/dist/images/space.jpg">
          </picture>
        </a>
        <ul class="media__list">
          <li class="list__item">
            <picture>
              <img src="static/dist/images/python.png">
            </picture>
          </li>
          <li class="list__item">
            <picture>
              <img src="static/dist/images/azure.png">
            </picture>
          </li>
          <li class="list__item">
            <picture>
              <img src="static/dist/images/sass.png">
            </picture>
          </li>
        </ul>
        <a href="{{ url_for('blog1') }}">
          <p class="is-title is-center">Como programarse un Blog con las 3 B's</p>
        </a>

        <p class="is-subtitle is-center">Agosto 2021</p>
        <p class="is-center">En este tutorial te enseñare como puedes crear tu propio portafolio con Python como backend, algunas cosas basicas de Sass y lo subiremos a la nube con un IAC
          presonalizado para Azure.<br>Todo sin gastar ni un peso !</p>

      </article>
    </div>
    <div class="swiper-button-next blog-next"></div>
    <div class="swiper-button-prev blog-prev"></div>
    <div class="swiper-pagination blog-pagination"></div>
  </div>
</section>
<section class="container">
  <h2 class="lighted">Mi trabajo</h2>
  <div class="swiper-container work__list experience__list">
    <div class="swiper-wrapper">
      <article class="swiper-slide work__item">
        <picture class="profile">
          <img src="static/dist/images/nebula.jpg">
        </picture>
        <ul class="media__list">
          <li class="list__item">
            <picture>
              <img src="static/dist/images/phplogo.png">
            </picture>
          </li>
          <li class="list__item">
            <picture>
              <img src="static/dist/images/iac.png">
            </picture>
          </li>
        </ul>
        <p class="is-title is-center">Head of Tech (2 años)</p>
        <p class="is-subtitle is-center">Impulse travel</p>
        <p class="">
          - Administrador de multiples instancias de servidores en la nube en Debian mediante AWS asi mismo su infraestructura para que pudiesen comunicarse entre servidores
          <br>
          - Amazon Web Services DevOps (SES, SQS, RDS, S3, SNS)
          <br>
          - App a la medida con PHP Symfony
          <br>
          - CMS a la medida en Symfony 3 y luego actualizado a Symfony 4
          <br>
          - GIT como repositorio de versiones
          <br>
          - API Platform para versionamiento y mantenimiento
          <br>
          - Aplicaciones en Angular 5 & Vue.js para un back office a la medida basado en APIS
          <br>
          - Seguridad en API usando como metodo JWT para el login de usuarios, API Gateway y envio de mensajes entre servidores a travez de un broker (RABBIT MQ)
          <br>
          - Creacion de servidor de correos a la medida con Postfix y Dovecot
          <br>
          - Creacion de microservicios conectados mediante un broker de mensajes
          <br>
          - Diseño e implementacion de arquitectura Domain Driven mediante microservicios
          <br>
          - Procesamiento de emails con Perl
          <br>
          - Administrador de servidores NGINX<br>
          - Net Core 3 - Creacion de servicio para leer y procesar correos para exportar cierta informacion como XLSX<br>
        </p>
      </article>
      <article class="swiper-slide work__item">
        <picture class="profile">
          <img src="static/dist/images/nebula.jpg">
        </picture>
        <ul class="media__list">
          <li class="list__item">
            <picture>
              <img src="static/dist/images/phplogo.png">
            </picture>
          </li>
          <li class="list__item">
            <picture>
              <img src="static/dist/images/ios.png">
            </picture>
          </li>
        </ul>
        <p class="is-title is-center">Full-Stack developer (1.5 Years)</p>
        <p class="is-subtitle is-center">Iridian consulting</p>
        <p class="">
          - Creacion de temas, plugins y funcionalidades a la medida en Wordpress, Drupal & Prestashop<br>
          - Aplicaciones web con CMS personalizado en Symfony 2 & 3<br>
          - Creacion de aplicaciones hibridas en IONIC Angular<br>
          - Aplicaciones nativas con Android e IOS<br>
        </p>
      </article>
    </div>
    <div class="swiper-button-next experience-next"></div>
    <div class="swiper-button-prev experience-prev"></div>
    <div class="swiper-pagination experience-pagination"></div>
  </div>
</section>
<section class="container">
  <h2 class="lighted">Mis fortalezas</h2>
  <ul class="media__list">
    <li class="list__item">
      <picture>
        <img src="static/dist/images/phplogo.png">
      </picture>
      <p>PHP</p>
    </li>
    <li class="list__item">
      <picture>
        <img src="static/dist/images/python.png">
      </picture>
      <p>Python</p>
    </li>
    <li class="list__item">
      <picture>
        <img src="static/dist/images/ios.png">
      </picture>
      <p>Objective C</p>
    </li>
    <li class="list__item">
      <picture>
        <img src="static/dist/images/angular.png">
      </picture>
      <p>Angular</p>
    </li>
    <li class="list__item">
      <picture>
        <img src="static/dist/images/iac.png">
      </picture>
      <p>IAC - AWS | Azure</p>
    </li>
  </ul>
</section>
<section class="container">
  <h2 class="lighted">Más Sobre mi</h2>
  <ul class="media__list">
    <li class="list__item">
      <a href="https://github.com/jasson112" target="_blank">
        <picture>
          <img src="static/dist/images/git.png">
        </picture>
        <p>Github</p>
      </a>
    </li>
    <li class="list__item">
      <a href="https://stackoverflow.com/users/4526175/jasson-rojas" target="_blank">
        <picture>
          <img src="static/dist/images/stack.png">
        </picture>
        <p>Stackoverflow</p>
      </a>
    </li>
    <li class="list__item">
      <a href="www.linkedin.com/in/jasson112" target="_blank">
        <picture>
          <img src="static/dist/images/linkedin.png">
        </picture>
        <p>Linkedin</p>
      </a>
    </li>
  </ul>
</section>
{% endblock %}