.profile{
    display: block;
    img{
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        //desktop
        @include respond("desktop") {
          width: 200px;
          height: 200px;
        }
    }
}

.star{
    //position: fixed;
    bottom: -20vh;
    z-index: 1;
    width: 100%;
    transform: translate(-50%, 0);
    left: 50%;
    @include respond("desktop") {
      bottom: -24vh;
    }
    img{
        display: block;
        margin: 0 auto;
        width: 300px;
        @include respond("desktop") {
          width: 500px;
        }
    }
}

.media__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-flow: wrap;
    justify-content: space-between;
    .list__item{
        //padding: 12px;
        a{
          text-decoration: underline;
          text-decoration-color: #E5E5E5;
        }
        p{
            font-size: 18px;
            text-align: center;
            //desktop
            @include respond("desktop") {
              font-size: 30px;
            }
        }
        picture{
          display: block;
          img{
            width: 40px;
            @include respond("desktop") {
              width: 200px;
              height: auto;
            }
          }
        }
    }
}