{% extends "layout.jinja2" %}
{% block content %}
<section class="container">
  <picture class="profile">
    <img src="/static/dist/images/space.jpg">
  </picture>
  <h1 class="lighted">Como programarse un Blog con las 3 B's</h1>
  <p class="is-subtitle is-center">Agosto 2021</p>
  <p class="">En este tutorial te enseñare como puedes crear tu propio portafolio con Python como backend, algunas cosas basicas de Sass y lo subiremos a la nube con un IAC
    presonalizado para Azure.<br>Todo sin gastar ni un peso !</p>
</section>
{% endblock %}